@import "tailwindcss";
body {
  margin: 0;
}

.dashboard {
  padding: 20px;
  background: #f4f6f9;
  min-height: 100vh;
  transition: 0.3s;
}

.dashboard.dark {
  background: #313131;
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.controls input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
}

.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  padding: 15px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.dashboard.dark .card {
  background: #1e1e1e;
}

.list {
  display: grid;
  gap: 10px;
}

.user-card {
  padding: 15px;
  background: white;
  border-radius: 10px;
}

.dashboard.dark .user-card {
  background: #403f3f;
}